@import './styles/global.css';

body {
  background-image: url('./assets/images/bg-futebol.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll !important;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 